body {
    font-family: Arial;
    background: #f5f5f5;
}

.navbar a {
    margin: 10px;
    text-decoration: none;
    color: blue;
}

.product {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: inline-block;
}

.banner {
    width: 100%;
}

.detail-img {
    width: 300px;
}


